html, body {
    margin: 0;
    height: 100%;
}

#gallery-view {
    height: 100%;
}

#gallery {
    position: relative;
    height: 100%;
    background-color: rgb(32, 32, 32);
    overflow-x: hidden;
}

.manga-panel {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
}

img {
    height: 100%;
}

#menu {
    position: fixed;
    right: -30%; /* hidden in the beginning */
    top: 0;
    width: 30%;
    height: 100%;
    transition: right 0.2s;
    background-color: rgba(0, 0, 0, 0.5);
}
#menu.open {
    right: 0;
}
