.text-button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
}
.text-button:hover {
    color: #808080;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(32, 32, 32);
    overflow: auto;
}
img {
    height: 100%;
}

.page-title {
    width: 100%;
    text-align: center;
}

#gallery {
    display: none;
    position: relative;
    height: 100%;
    background-color: rgb(32, 32, 32);
    overflow: hidden;
}
.manga-panel {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
}

#menu {
    position: fixed;
    right: -30%; /* hidden in the beginning */
    top: 0;
    width: 30%;
    height: 100%;
    transition: right 0.2s;
    background-color: rgba(0, 0, 0, 0.5);
}
#menu.open {
    right: 0;
}

#file-selection {
    height: 100%;
    background-color: rgb(43, 42, 50);
    color: rgb(255, 255, 255);
}
#file-input {
    display: none;
}
